* {
  margin: 2px;
  padding: 2px;
  background-color: rgb(212, 176, 245);
}

.text {
  color: rgb(25, 136, 8);
  text-shadow: 0 0 3px #c941ee;
  text-align: center;
}
.pic {
  width: 100%;
  height: auto;
}
.logo {
  width: 100%;
  height: auto;
}
